.additional-goods {
  position: relative;

  padding-bottom: 35px;

  &::before {
    content: "";

    position: absolute;
    top: 42px;
    left: 0;

    display: block;

    width: 100%;
    height: 3px;

    background-color: $bright-background-color;

    z-index: -1;
  }
}

.additional-goods__title {
  display: inline-block;

  @include reset-indents;
  padding-top: 28px;
  padding-bottom: 34px;

  padding-left: 19px;
  padding-right: 23px;

  font-size: 24px;
  line-height: 24px;
  // font-weight: 700;
  color: $dark-font-color;

  background-color: $main-background-color;
}

.additional-goods__list {
  @include reset-indents;

  list-style: none;
}

.additional-goods__item {
  margin-left: 20px;
  margin-right: 20px;

  border-bottom: 1px solid #cdcdcd;

  &:first-child {
    border-top: 1px solid #cdcdcd;
  }
}

.additional-goods__caption {
  box-sizing: border-box;

  width: 280px;
  min-height: 289px;

  @include reset-indents;
  @include indents-outside-mobile;
  margin-top: 39px;
  padding: 65px 45px 5px;

  text-align: center;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  // font-weight: 700;
  color: $light-font-color;

  background: $bright-background-color url("../img/gift-photo-mobile@1x.jpg") no-repeat;

  &::before {
    content: "";

    display: block;

    width: 55px;
    height: 60px;
    margin: 0 auto;
    margin-bottom: 62px;

    background: url("../img/icon-gift.svg");
  }

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background: url("../img/gift-photo-mobile@2x.jpg");
    background-size: 280px auto;
  }
}

@media (min-width: $tablet-width) {
  .additional-goods {
    padding-bottom: 76px;

    &::before {
      top: 50px;
    }
  }

  .additional-goods__title {
    display: inline-block;

    margin-left: 28px;
    padding-bottom: 80px;
    padding-left: 40px;
    padding-right: 35px;

    font-size: 36px;
    line-height: 36px;
  }

  .additional-goods__list {
    margin-left: 30px;
    margin-right: 30px;

    border: 1px solid #cdcdcd;
  }

  .additional-goods__item {
    &:first-child {
      border-top-width: 0;
    }

    &:last-child {
      border-bottom-width: 0;
    }
  }

  .additional-goods__caption {
    position: relative;

    width: 708px;
    min-height: 200px;

    @include indents-outside-tablet;
    margin-top: 69px;
    padding: 72px 90px 10px 423px;

    text-align: left;

    background-image: url("../img/gift-photo-tablet@1x.jpg");

    &::before {
      position: absolute;
      top: 65px;
      left: 91px;
    }

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background: url("../img/gift-photo-tablet@2x.jpg");
      background-size: 708px auto;
    }
  }
}

@media (min-width: $desktop-width) {
  .additional-goods {
    padding-bottom: 86px;

    &::before {
      top: 58px;
    }
  }

  .additional-goods__title {
    margin-left: 70px;
    padding-top: 36px;
    padding-left: 39px;
    padding-right: 38px;
  }

  .additional-goods__wrapper {
    display: flex;
    justify-content: space-between;

    @include indents-inside-desktop-big;
  }

  .additional-goods__list {
    @include reset-indents;

    border-width: 0;
  }

  .additional-goods__item {
    &:first-child {
      border-top-width: 1px;
    }

    &:last-child {
      border-bottom-width: 1px;
    }
  }

  .additional-goods__caption {
    position: relative;

    width: 245px;
    min-height: 289px;

    @include reset-indents;
    padding: 65px 27px 10px 27px;

    text-align: center;

    background-image: url("../img/gift-photo-desktop@1x.jpg");

    &::before {
      position: static;
    }

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background: url("../img/gift-photo-desktop@2x.jpg");
      background-size: 245px auto;
    }
  }
}
