.form-order__wrapper {
  display: flex;
  flex-wrap: wrap;

  @include indents-inside-mobile;
}

.form-order__button {
  flex-basis: 100%;

  margin-bottom: 21px;
}

.form-order__footnote {
  flex-basis: 100%;

  @include reset-indents;
  margin-bottom: 32px;

  text-align: center;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 16px;
  // font-weight: 700;
  color: $grey-font-color;
}

@media (min-width: $tablet-width) {
  .form-order__wrapper {
    justify-content: space-between;
    align-items: center;

    padding-left: 71px;
    padding-right: 71px;
    padding-bottom: 51px;
  }

  .form-order__button {
    flex-basis: auto;

    margin-bottom: 21px;
  }

  .form-order__footnote {
    flex-basis: auto;
    width: 283px;
    margin-top: 5px;

    text-align: left;
    font-size: 16px;
  }
}

@media (min-width: $desktop-width) {
  .form-order__wrap {
    display: flex;
    justify-content: space-between;

    margin-bottom: 69px;
    padding-left: 111px;
    padding-right: 110px;
  }

  .form-order__wrapper {
    justify-content: flex-start;

    padding-left: 111px;
    padding-bottom: 61px;
  }

  .form-order__button {
    margin-right: 83px;
  }
}
