.page-footer {
  display: flex;
  flex-direction: column;

  @include indents-inside-mobile;
  padding-top: 39px;
  padding-bottom: 24px;

  background-color: $secondary-background-color;
}

.page-footer__logo {
  margin-bottom: 31px;
}

.page-footer__img {
  display: block;

  margin: 0 auto;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.page-footer__social {
  margin-bottom: 18px;

  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
}

@media (min-width: $tablet-width) {
  .page-footer {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    @include indents-inside-tablet;
    padding-top: 54px;
    padding-bottom: 54px;
  }

  .page-footer__logo {
    width: 163px;

    margin-bottom: 0;
  }

  .page-footer__img {
    margin-left: 0;
  }

  .page-footer__social {
    margin-bottom: 0;

    border-width: 0;
  }
}

@media (min-width: $desktop-width) {
  .page-footer {
    @include indents-inside-desktop-big;
    padding-bottom: 53px;
  }
}
