$dark-font-color: #111111;
$light-font-color: #ffffff;
$blackish-font-color: #222222;
$grey-font-color: #444444;

$main-background-color: #ffffff;
$secondary-background-color: #f2f2f2;
$grey-background-color: #e6e6e6;
$bright-background-color: #68b738;

$tablet-width: 768px;
$desktop-width-index: 1250px;
$desktop-width: 1440px;
$mobile-width-only: 767px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
